applications/.classpath
/build/
/.idea/.gitignore
/.idea/.name
/.idea/modules/application.iml
/.idea/compiler.xml
/.idea/gradle.xml
/.gradle/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
